<img src="/assets/TuSegundazo.com.png"  class="img-fluid" alt="Responsive image"/>
<br/>
<img src="/assets/Line14.png"  class="img-fluid" alt="Responsive image"/>
<img src="/assets/image.png"  class="img-fluid" alt="Responsive image"/>

<div class="“container-fluid”">
  <div class="“row”">
    <table class="table"  aria-describedby="mydesc" style="width:792px">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">L&iacute;nea</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles; index as i">
          <td>
            {{ vehicle.id }}
          </td>
          <td>{{ vehicle.marca }}</td>
          <td>{{ vehicle.linea }}</td>
          <td>{{ vehicle.modelo }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngFor="let total of totals; index as i">
      Total {{total.marca}} : {{total.total}}
    </div>
    <div class="row">
      <div class="col-4 text-center">
        Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo
      </div>
  </div>
  </div>
</div>
